.search__section {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.2rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.form__label {
  font-size: 2.4rem;
}

.form__input {
  padding: 0.8rem 1.8rem;
  width: 24rem;
  border: 1px solid rgb(230, 149, 255);
  border-radius: 10px;
  color: black;
  transition: 0.3s;
  font-size: 1.4rem;
}

.form__input:active,
.form__input:focus {
  outline: none;
  box-shadow: 0rem 0.4rem 0.4rem rgb(230, 149, 255, 0.5);
}
